.vscode/
build/
lib/
test/associatedgraph_test
test/randompoly_test
test/monomial_test
test/polynomial_charset_test
test/polynomial_disc_test
test/polynomial_GCD_test
test/polynomial_pquo_test
test/polynomial_prem_test
test/polynomial_res_test
test/polynomial_squarefree_test
test/polynomial_subres_test
test/polynomial_test
clpoly/Bres
clpoly/Bres1
test/1.txt
test/2.txt
test/3.txt
clpoly/1.out
clpoly/1.txt
clpoly/2.txt
clpoly/3.txt
clpoly/4.txt
example
test/randommtp
test/j621_data.txt
test/GCD_1.txt
test/GBP_test_gen
test/EX2.txt
test/未命名-1.nb
test/a.out
test/upolynomial_test
a.out
test/associatedgraph_test.cc
1.txt
伪代码.cpp
test/polynomial_test
test/interval_test
